



<div class="container" id="parent" class="center_div">
    <h1>Ask a question</h1>


      <form action="/answer" class="form-inline" id="form_question">
        <div class="form-group">
          <input type="text" class="form-control" name="question" placeholder="Enter question">
        </div>
        <button type="submit" class="btn btn-primary">Go on</button>
      </form>
</div>
